* {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    cursor: pointer;
    height: 200%;
    widows: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform:  rotateX(60deg) rotateY(0deg) rotateZ(20deg);
    height: 150px;
    width: 700px;
    .firstAnim {
        opacity: 0;
    }
    .secondAnim {
        opacity: 0;
    }
    .thirdAnim{
        opacity: 0;
    }
    div {
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
        height: 100%;
        transform: translate3d(0px, -26px, 0px)
    }
    &:hover {
        div {
            opacity: 1;
            transition: opacity 1s;
            .firstAnim {
                animation: hoverKinetic 2.1s ease infinite;
            }
            .secondAnim {
                animation: hoverKinetic 2.1s .7s ease infinite;
            }
            .thirdAnim{
                animation: hoverKinetic 2.1s ease 1.4s infinite;      
            }
        }
    }
}

.para {
    font-size: 150px;
    display: inline;
    position: absolute;
}

.paraMain {
    color: #2401fc;
    z-index: 10;
    -webkit-text-stroke: black 3px;
}

.paraOutline {
    color: transparent;
    -webkit-text-stroke: white 1px;
    opacity: 0;
}

@keyframes hoverKinetic {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(50px, 100px, 0px)
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}